################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/Dare
/Source/.vs/config
/Source/Dare.AdminApi/bin/Debug
/Source/Dare.AdminApi/obj